{% include "header.html" %}

<div class="ui container" style="max-width: 660px !important; padding-top: 10px;">
    <h1>{{ config['projectName'] }}</h1>
    <p>{{ config['projectDesc'] }}</p>
    <form class="ui form" action="/predict" method="POST">
    <script>
        let jsValidation = {};
    </script>
        {% for input in config['input'] %}
            {% if input['type'] == 'continious' %}
                <div class="field">
                    <label>{{ input['description'] }}</label>
                    <input type="text" name="{{ loop.index }}" placeholder="Enter">
                </div>
                <script>
                    // for validation purposes
                    jsValidation['{{ loop.index }}'] = {
                        identifier: {{ loop.index }},
                        rules: [
                            { type   : 'empty', prompt : "Please enter a value for {{ input['description'] }}" },
                            { type   : 'number', prompt : "{{ input['description'] }} contains a non numeric value" }
                        ]
                    }
                </script>
            {% elif input['type'] == 'categorical' %}
            <div class="field">
                <label>{{ input['description'] }}</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="{{ loop.index }}" required>
                    <div class="default text">Select</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% for option in input['possibleValues'] %}
                            <div class="item" data-value="{{ option['value'] }}">{{ option['altValue'] }}</div>
                        {% endfor %}
                    </div>
                </div>
                <script>
                    // For validation purposes
                    jsValidation['{{ loop.index }}'] = {
                        identifier: {{ loop.index }},
                        rules: [
                            { type   : 'empty', prompt : "Please select a value for {{ input['description'] }} " }
                        ]
                    }
                </script>
            </div>
            {% else %}
                <script>
                    console.log("Invalid input type {{ input['description'] }} in config.")
                </script>
            {% endif %}
        {% endfor %}
        <div class="ui error message"></div>
        <button type="submit" class="ui blue button">Submit</button>
    </form>
    <script src="/static/main.js"></script>
</div>

{% include "footer.html" %}